<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/styles/signUpStyle.css">
</head>

<body>
    <div class="container">
        <h1>Newsletter Signup</h1>
        <div class="form-container">
            <form action="/process_newsletter_signup" method="POST" enctype="application/x-www-form-urlencoded">
                <div class="input-name-container">
                    <label for='name'>Name</label>
                    <input id='name' class='name-input' name="name" type='text' size="40" required>
                </div>
                <div class="input-email-container">
                    <label for='email'>Email</label>
                    <input id='email' class='email-input' name="email" type='email' placeholder="youname@domain.com" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" size="30" required>
                </div>
                <div class="submit-container">
                    <button class="submit-button" name="action" value="submit" type="submit">Submit</button>
                </div>
            </form>
            <div class="api">
                <p>api signup URL = /api/newsletter_signup - Use Postman raw JSON<br>
                    api results URL = /api/results - Use Postman or Browser results displayed as JSON</p>
            </div>
            <footer class="footer">
                <p>Node Events Exercise 06/23</p>
            </footer>
        </div>
    </div>
</body>

</html>